@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
   line-height: 2;
}

header, nav{
    padding: 5px 3px 6px 2px;
    margin: 15px 40px;

}

nav ul li{
    display: inline;
    margin: 20px 50px 50px 50px;
    padding: 20px;
    font-size: 24px;
    background-color: #FEE4C3;
}

nav a{
    text-decoration: none;
}

a:visited{
    color: black;
}

nav a.current{
    text-transform: uppercase;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-underline-offset: 45%;
}

h1{
   font-size: 48px;
    font-family: Merriweather, Anton, "Times New Roman";

}

h2{
    font-size: 36px;
    font-family: Anton, "Times New Roman", serif;
    text-align: center;
}

h3{
    font-size: 32px;

}

h1, h2, h3{
    margin-top: 5px;

}
.grid{
    display: grid;
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 45px;
    grid-row-gap: 10px;
    background-color: #788898;
}

.grid div{
    border: 3px solid black;
    border-radius: 30px 30px 30px 30px;
    padding: 5px;
    background-color: #FFFFFF;

}

.grid img{
    display: block;
    width: 90%;
    margin: 0 auto;
}


.grid div:nth-child(3n+1)  {
    box-shadow: 10px 0px 5px 0px #A9A9A9;
    }

.grid div:nth-child(3n)  {
    box-shadow: -10px 0px 5px 0px #A9A9A9;
}

.grid div:nth-child(3n+2)  {
    box-shadow: -10px 0px 5px 0px #A9A9A9, 10px 0px 5px 0px #A9A9A9;
}

p + p {
     text-indent: 20px;
  }

p{
     margin-top: 5px;
}


.grid ul li{
    line-height: 1;
    list-style-image: url(../images/sketchbook.png);
    margin: 0px 0px 45px 65px;
}
